CalculatorClient/Service References/CalculatorReference/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="by.bsuir.mpp" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="by.bsuir.mpp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="by.bsuir.mpp/Imports">
      <xsd:import schemaLocation="http://localhost:51451/Calculator.svc?xsd=xsd0" namespace="by.bsuir.mpp" />
      <xsd:import schemaLocation="http://localhost:51451/Calculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" />
      <xsd:import schemaLocation="http://localhost:51451/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Calculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="Calculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="Calculator_Add_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" name="detail" element="q1:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="Calculator_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="Calculator_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="Calculator_Substract_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" name="detail" element="q2:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="Calculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="Calculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="Calculator_Multiply_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" name="detail" element="q3:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="Calculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="Calculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="Calculator_Divide_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" name="detail" element="q4:CalculationFault" />
  </wsdl:message>
  <wsdl:message name="Calculator_Sqrt_InputMessage">
    <wsdl:part name="parameters" element="tns:Sqrt" />
  </wsdl:message>
  <wsdl:message name="Calculator_Sqrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqrtResponse" />
  </wsdl:message>
  <wsdl:message name="Calculator_Sqrt_CalculationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CalculationService.Contracts" name="detail" element="q5:CalculationFault" />
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="by.bsuir.mpp/Calculator/Add" message="tns:Calculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="by.bsuir.mpp/Calculator/AddResponse" message="tns:Calculator_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="by.bsuir.mpp/Calculator/AddCalculationFaultFault" name="CalculationFaultFault" message="tns:Calculator_Add_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="by.bsuir.mpp/Calculator/Substract" message="tns:Calculator_Substract_InputMessage" />
      <wsdl:output wsaw:Action="by.bsuir.mpp/Calculator/SubstractResponse" message="tns:Calculator_Substract_OutputMessage" />
      <wsdl:fault wsaw:Action="by.bsuir.mpp/Calculator/SubstractCalculationFaultFault" name="CalculationFaultFault" message="tns:Calculator_Substract_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="by.bsuir.mpp/Calculator/Multiply" message="tns:Calculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="by.bsuir.mpp/Calculator/MultiplyResponse" message="tns:Calculator_Multiply_OutputMessage" />
      <wsdl:fault wsaw:Action="by.bsuir.mpp/Calculator/MultiplyCalculationFaultFault" name="CalculationFaultFault" message="tns:Calculator_Multiply_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="by.bsuir.mpp/Calculator/Divide" message="tns:Calculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="by.bsuir.mpp/Calculator/DivideResponse" message="tns:Calculator_Divide_OutputMessage" />
      <wsdl:fault wsaw:Action="by.bsuir.mpp/Calculator/DivideCalculationFaultFault" name="CalculationFaultFault" message="tns:Calculator_Divide_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <wsdl:input wsaw:Action="by.bsuir.mpp/Calculator/Sqrt" message="tns:Calculator_Sqrt_InputMessage" />
      <wsdl:output wsaw:Action="by.bsuir.mpp/Calculator/SqrtResponse" message="tns:Calculator_Sqrt_OutputMessage" />
      <wsdl:fault wsaw:Action="by.bsuir.mpp/Calculator/SqrtCalculationFaultFault" name="CalculationFaultFault" message="tns:Calculator_Sqrt_CalculationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>